@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
body,
input[type=submit] {
    font-family: 'Open Sans', sans-serif;
}
h1,
label {
    color: #AAA;
}
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    background-color: #FFF;
    overflow-x: hidden;
}
a,
a:active,
a:focus,
a:visited {
    color: #55CAF5;
}
h1 {
    font-size: 4em;
    font-weight: 300;
    margin: 0;
    padding-top: 45px;
}
h1 a,
h1 a:active,
h1 a:focus,
h1 a:visited {
    color: #AAA;
    text-decoration: none;
}
form {
    margin-top: 20px;
}
pre {
    border: 2px solid #AAA;
    border-radius: 10px;
    background-color: #C7EDFC;
    padding: 15px;
}
input[type=submit],
textarea {
    margin: 20px auto;
    width: 80%;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    border-radius: 10px;
    border-bottom: 5px solid #CCCFD0;
    color: #000;
    background-color: #FFF;
    resize: none;
}
input:focus,
textarea:focus {
    outline: 0
}
textarea {
    height: 50%;
    background-color: #ECF0F1;
}
input[type=submit] {
    color: #FFF;
    background-color: #55CAF5;
    border: none;
    border-bottom: 5px solid #40B3DD;
    transition: all .1s ease;
}
input[type=submit]:active {
    border-bottom: 2px solid #40B3DD;
}
::-webkit-input-placeholder {
    color: #CCCFD0;
}
:-moz-placeholder {
    color: #CCCFD0;
    opacity: 1
}
::-moz-placeholder {
    color: #CCCFD0;
    opacity: 1
}
:-ms-input-placeholder {
    color: #CCCFD0;
}
label {
    display: block;
    font-size: .9em;
}
.error {
    background-color: #FF2828;
    padding: 20px;
    font-size: 1.5em;
    color: #FFF;
}
#page-wrap {
    min-height: 100%;
    position: relative;
    top: 0;
}
.updated {
    font-style: italic;
    font-size: .7em;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(58, 58, 58, .9)
}
@media (max-height: 750px) {
    textarea {
        height: 30%;
    }
    input[type=submit] {
        padding: 10px;
    }
}
@media (max-height: 500px) {
    h1 {
        font-size: 3em;
        padding-top: 20px;
    }
}
@media (max-height: 425px) {
    input[type=submit],
    textarea {
        margin: 10px auto;
    }
}
@media (max-height: 350px) {
    h1 {
        padding-top: 0;
    }
}
@media (max-width: 350px) {
    h1 {
        font-size: 3em;
    }
}
